extend ./layout/common
block content
  blockquote.blockquote.text-center
    p.mp-0 Stay hungry, Stayfoolish
    footer.blockquote-footer Steven Job 
      cite(title="Source Title") (CEO Apple)
  a(href='https://spotted-flawless-grain.glitch.me/book').text-decoration-none 
    button.btn.btn-outline-dark.btn-block Book
  hr
  a(href='https://spotted-flawless-grain.glitch.me/user').text-decoration-none
    button.btn.btn-outline-success.btn-block User
  hr
  a(href='https://spotted-flawless-grain.glitch.me/transactions').text-decoration-none
    button.btn.btn-outline-info.btn-block Transaction
  hr
  a(href='https://spotted-flawless-grain.glitch.me/blog').text-decoration-none
    button.btn.btn-outline-danger.btn-block Blogger