extend ../layout/common.pug
block content
  form(action='/transaction/create' method="POST")
    table.table
      tr
        td
          select.custom-select
            option(selected='' ) Select User
            each user in users
              option
                span(value=user.id)=user.email
        td
          select.custom-select
            option(selected='' ) Select Book
            each book in books 
              option
                span(value=book.id)=book.title
    button(type='submit').btn.btn-dark Submit