extend ../layout/common.pug
block content
  form(action='/transaction/create' method="POST")
    table.table
      tr
        td
          select(name='user').custom-select
            option(selected='' ) Select User
            each user in users
              option(value=user.id)=user.email
        td
          select(name='book').custom-select
            option(selected='' ) Select Book
            each book in books 
              option(value=book.id)=book.title
    input(type='text' name='test')
    button(type='submit').btn.btn-dark Submit