extend ../layout/common.pug
block content
  h1.display-4.text-center  All Transaction
  if showTransactions
    table.table.table-hover
      tr 
        th User
        th Book
        td 
      each showTransaction in showTransactions
        tr
          td=showTransaction.user
          td=showTransaction.book
          td 
            a(href='/transactions/'+ showTransaction.id +'/complete') Finish
  hr
  a(href='/transaction/create').text-decoration-none
    .btn.btn-outline-danger.btn-block Create