extend ../layout/common.pug
block content
  h1.display-4.text-center  All Transaction
  table 
    each show in transactions
      tr
  hr
  a(href='/transaction/create').text-decoration-none
    .btn.btn-outline-danger.btn-block Create