extends ../layout/common.pug
block content
  h1.display-4.text-center Library
  p.text-center.font-weight-light Coders-Tokyo
  form(method="GET" action="/book/search").form-inline
    .form-group.mr-2
      input.form-control(type="text" name="q" id='title' placeholder='Search Book' value=value ? value : '')
    button(type="submit").btn.btn-outline-primary Search
  form(method="GET" action="/book/create").form-inline
    .form-group
    button(type="submit").btn.btn-outline-success Create Book
  .row.row-cols-1.row-cols-md-3
    each book in books
      .col-4.mb-4
        .card
          img.card-img-top(src=book.image, width='50px' height='100%')
          .card-body
            h5.card-title=book.title
            p.card-text=book.desc
            a(href='/cart/add/'+book.id) 
              .btn.btn-primary Add to cart
  