extends ../layout/common.pug
block content
  
  form(method="GET" action="/book/search").form-inline
    .form-group.mr-2
      input.form-control(type="text" name="q" id='title' placeholder='Search Book' value=value ? value : '')
    button(type="submit").btn.btn-outline-primary Search
  table.table.table-light.border
      tr
        td 
          b Title
        td 
          b Tools
      each book in books
        tr
          td
            span=book.title
          td
            a(href='/book/view/'+book.id) 
              button.btn.btn-outline-dark(type='button') View
            a(href="/book/update/"+book.id) 
              button.btn.btn-outline-dark(type='button') Update
            a(href="/book/delete/"+book.id) 
              button.btn.btn-outline-dark(type='button') Delete
  form(method="GET" action="/book/create").form-inline
    .form-group
    button(type="submit").btn.btn-outline-success Create Book