extends ../layout/common.pug
block content
  
  form(method="GET" action="/book/search")
    .form-group
      label(for="title") Title Book : 
      input.form-control(type="text" name="q" id="title")
    button(type="submit") Search
  form(method="GET" action="/book/create") 
    .form-group
      label(for="create") Create Book : 
    button(type="submit") Create Book
  ul
    for book in books
      li
        span=book.title
        a(href='/book/view/'+book.id) 
          .btn.btn-infor=
        a(href="/book/update/"+book.id) Update
        a(href="/book/delete/"+book.id) Delete