extends ../layout/common.pug
block content
  
  form(method="GET" action="/book/search")
    label(for="title") Title Book: 
    .form-group
      input.form-control(type="text" name="q" id="title")
      button(type="submit") Search
  form(method="GET" action="/book/create") 
    button(type="submit") Create Book
  ul
    for book in books
      li
        span=book.title
        a(href="/books/update/"+book.id) Update
        a(href="/books/delete/"+book.id) Delete